.FirstPageComponent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 50px 30px;
    background-color: rgba(187, 198, 200, 0.7);
}

.WelcomeHeading {
    font-size: 2rem;
    max-width: 30vw;
    text-align: center;
    color: rgb(58, 117, 118);
    font-weight: 700;

}

@media screen and (max-width: 500px) {

    .FirstPageComponent {
        flex-direction: column;
    }

    .WelcomeHeading {
      
        max-width: 80vw;
        font-size:1.5rem;
        
    }

}