.HeadingLogin
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    font-weight: 900;
    justify-content: center;
    display: flex;
    gap: 20px;

}

.LoginContainer
{
    background: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
}

#LoginDivClosePasswordIcon
{
    display:none;
}

#LoginDivClosePasswordIcon,#LoginDivShowPasswordIcon
{
    cursor:pointer;
}

.WrongPasword
{
    margin-top: 10px;
    font-size: 15px;
    color: #ff5959;
}

.LoginHeading
{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(58, 117, 118);
    font-weight: 700;
    margin:10px
}

.CreateAccountButton
{
    text-align:center;
    background-color:rgb(58, 117, 118);
    color: white;
    border-radius: 5px;
    padding:5px;
    margin:5px 0;
    cursor: pointer;
}

.GoogleIcon
{
    margin-right: 10px;
}