.SideProfile
{
    background-color: rgb(207,215,216);
    color: #3A7576;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    
}

.ProfileImage
{
    width: 80px;
    border-radius: 50%;
    border: 5px solid #3A7576;
}

.SmallProfile
{
    margin: 15px 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileName
{
    font-weight: 700;
    font-size: 18px;
    width: max-content;

}

.SettingButton
{
    width: -webkit-fill-available;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    cursor: pointer;
}

.SettingButton:hover,.CloseButton:hover
{
    background-color: #3A7576;
    color: white;
}

.CloseButton
{
    text-align: center;
    width: -webkit-fill-available;
    color: #3A7576;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
}